.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    box-shadow: 1px 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    gap: 10px;
    flex-wrap: wrap;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.done .text-done {
    text-decoration: line-through;
    color: grey;
}

.todo-controls {
    display: flex;
    gap: 10px;
}

.delete, .edit, .save-btn-img, .close-btn-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}

.delete {
    background: #e81010;
}

.edit {
    background: #1780de;
}

.save-btn-img {
    background: forestgreen;
}

.close-btn-img {
    background: orange;
}

.edit-input {
    flex: 1;
    min-width: 200px;
    outline: none;
    padding: 2px;
    border: 1px solid #007bff;
    font-size: 18px;
    border-radius: 5px;
    color: #007bff;
}
