body {
    font-family: arial, sans-serif;
    background-color: #e3e3e3;
}

.container {
    max-width: 800px;
    margin: 100px auto 0 auto;
}

.title {
    text-align: center;
    color: #1780de;
    margin-bottom: 20px;
}

.todos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.todo {
    display: flex;
    gap: 5px;
    position: relative;
    list-style: none;
    width: 100%;
    box-shadow: 1px 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.done .text-done {
    text-decoration: line-through;
    color: grey;
}

.delete {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background: #e81010;
    border-radius: 5px;
    padding: 2px;
}

.edit {
    position: absolute;
    right: 35px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background: #1780de;
    border-radius: 5px;
    padding: 2px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.stats {
    border: 0;
    padding: 5px 10px;
    background-color: #e3e3e3;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.stats.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.save-btn-img {
    position: absolute;
    right: 65px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background: forestgreen;
    border-radius: 5px;
    padding: 2px;
}

.close-btn-img {
    position: absolute;
    right: 35px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background: orange;
    border-radius: 5px;
    padding: 2px;
}

.edit-input {
    width: 85%;
    outline: none;
    padding: 2px;
    border: 0.5px solid #007bff;
    font-size: 18px;
    border-radius: 5px;
    color: #007bff;
}
